@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');


body{
    margin: 0px;
    background-color: gray;
    font-family: 'Jura', sans-serif;
}

.menuHeader{
    display: flex;
    position: relative;
    background-size:contain;
    height: 70vh;
    width: 100vw;
    background-image: url('../img/backgroundHeader.jpg') ;
    background-repeat: no-repeat;   

}

.containerMenu{
    position: fixed;
    display: flex;
    width: 100vw;
    background-size:contain;
    padding-top: 1%;
    padding-left: 5%;
    gap: 20%;
    padding-right: 5%;
    
}

.menuSpan{
    font-size: 1vw;
}

.containerOptions{
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.containerLogin{
    flex: 35%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
}


#logo{
    width: 20%;
    height: 80%;
}

.menuOptions{
    display: flex;
    flex-direction: row;
}

.loginButton{
    color: white;
    font-size: 1.2vw;
    border-radius: 15px;
    padding: 10px;
    border-color: goldenrod;
    border-style:solid;

}


.makeAccount{
    position: absolute;
    top: 25vw;
    left: 35vw;

}

.register:hover{
    background-color: goldenrod;
}

.loginButton:hover{
    background-color: goldenrod;
}

.register{
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 6px solid goldenrod;
    border-right: 6px solid goldenrod;
    border-top: 1px solid goldenrod;
    border-left: 1px solid goldenrod;
}


.containerBeneficios{
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    background-color: gray;
    
}


.boxBeneficio{
    background-color: rgb(97, 94, 94);
    color: goldenrod;
    border-style: solid;
    border-radius: 10px;
    padding: 3%;
}

.beneficios{
    color: white;
}

.boxBeneficio:hover{
    background-color: goldenrod;
}

#emprestimo{
    margin-left: 5%;
}

#investimento{
    margin-right: 5%;
}

